{% extends "Cuentas/template/Cuentas/base.html" %}
{% load static %}


<html>
    <head>
        {% block title %} ITBANK-inicio {% endblock %}
        {% block extrahead %} 
        <link type="text/css" href="{% static 'css/prestamos.css' %}" rel="stylesheet">
        {% endblock %}        
    </head>
    <body>
        
        {% block content %}
            <nav class="navbar-dark navbar-expand-md">
              <div class="container-fluid">
                <div class="row head2 nav2">
                  <button class="navbar-toggler burger" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
                    <div class="offcanvas-header">
                      <img src="../archivos/logo itbank.png" alt="Logo itbank" class="d-inline-block align-text-top logo">
                      <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body">
                      <div class="col-1"></div>
                      <div class="col-2 cent1"><a class="nav-link ng" href="{% url 'hub' %}"> Inicio </a></div>
                      <div class="col-2 cent1"><a class="nav-link active1 ng" href="{% url 'prestamos' %}"> Préstamos </a></div>
                      <div class="col-2 cent1"><a class="nav-link ng" href="{% url 'transf' %}"> Transferencias </a></div>
                      <div class="col-2 cent1"><a class="nav-link ng" href="{% url 'inv' %}"> Inversiones </a></div>
                      <div class="col-2 cent1"><a class="nav-link dropdown-toggle ng" role="button" data-bs-toggle="dropdown" aria-expanded="false"> Información </a>
                        <ul class="dropdown-menu fondo drop" aria-labelledby="navbarScrollingDropdown">
                          <li><a class="dropdown-item drop" href="{% url 'act' %}">Actividad</a></li>
                          <li><a class="dropdown-item drop" href="{% url 'tarjetas' %}">Tarjetas</a></li>
                          <li><a class="dropdown-item drop" href="{% url 'conf' %}">Configuración</a></li>
                          <li><a class="dropdown-item drop" href="{% url 'seg' %}">Seguridad</a></li>
                        </ul>
                      </div>
                    <div class="col-1 cent1"></div>
                  </div>
                </div>
              </div>
            </nav>
          </div>
      
      
      
          <div class="container pad">
              <div class="row">
                  <div class="col-md-4">
                      <h3>Solicitá un préstamo</h3>
                      <p>Ingresá los datos y solicita tu pre-aprobración.</p>
                      <div class="container">
                        {% if success_msg %}
                            <p class="alert alert-success">{{success_msg}}</p>
                        {% endif %}
                        <form method="POST">
                            {% csrf_token %}
                            {% for field in form %}
                                <div class="form-group">    
                                    <label for="{{field.label}}">{{field.label}}</label>
                                    {{field}}
                                </div>
                                {% for error in field.errors %}
                                  <p>{{error}}</p>
                                {% endfor %}
                            {% endfor %}
                            <button type="submit" class="btn btn-primary">Solicitar</button>
                        </form>
                    </div>
                  </div>
                </div>
            </div><!-- Columna izquierda -->
      
          <div class="container-fluid fixed-bottom letrachica">
              <div class="row nav3 footer ft">
                <div class="col-2 arreglofooter"></div>
                <div class="col-2 arreglofooter">
                  <div class="row">
                    <div class="col-4 cent arreglofooter">
                      <a class="nav-link margen2 ic3" href="https://twitter.com/home" target="_blank"><img src="../archivos/twitter.svg" alt="twitter" class="ic"></a>
                    </div>
                    <div class="col-4 cent arreglofooter">
                      <a class="nav-link margen2 ic3" href="https://www.facebook.com/" target="_blank"><img src="../archivos/facebook.svg" alt="facebook" class="ic"></a>
                    </div>
                    <div class="col-4 cent arreglofooter">
                      <a class="nav-link margen2 ic3" href="https://www.instagram.com/" target="_blank"><img src="../archivos/instagram.svg" alt="instagram" class="ic"></a>
                    </div>
                  </div> 
                </div>
                <div class="col-4 arreglofooter letrachica2">
                  <p class="cent arreglofooter">© 2022 ITBANK S.A. <br>Todos los derechos Reservados</p>
                </div>
                <div class="col-2 arreglofooter">
                  <div class="row">
                    <div class="col-6 cent arreglofooter letrachica1">
                      <a class="nav-link bl margen2 ic3" href="https://www.apple.com/app-store/" target="_blank"><img src="../archivos/apple.svg" alt="App store" class="ic4 ic5"><p class="ic3">App Store</p></a>
                    </div>
                    <div class="col-6 cent arreglofooter letrachica1">
                      <a class="nav-link bl margen2 ic3" href="https://play.google.com/store?hl=es" target="_blank"><img src="../archivos/google-play.svg" alt="google Play" class="ic4"><p class="ic3">Google Play</p></a>
                    </div>
                </div>
                <div class="col-2 arreglofooter"></div>
              </div>
            </div>

            {% endblock %}

    </body>
</html>